<!DOCTYPE html>
<html lang="en" ng-app="userPage">
<head>
	<% include ./header.html %>
	<meta charset="UTF-8">
	<title></title>
	<script>
		window.currentUser = "<%= session.userID %>";
		window.userEmail = "<%= session.email %>";
	</script>
</head>
<body>
	<div class="container">
		<div class="topMenu">
			<div class="username">
				<%= session.userID %> Page
			</div>
			<div class="menuWrapper">
				<div class="menu">
					Menu1
				</div>
				<div class="menu">
					Menu2
				</div>
				<div class="menu">
					Menu3
				</div>
			</div>

		</div>
	</div>
	<div ng-view>
		
	</div>
</body>
</html>