Click me : <input type="checkbox" ng-model="result"/><br/>
<div ng-show="result">Result is true !</div>
<div ng-hide="result">Result is false !</div>
<br/><br/>

<div ng-init="grade='D">
    <div>Select Your Grade !</div>
    <div>
        Check Your Grade: <select ng-model="grade">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
        <p>{{grade}}</p>
        <div ng-switch on = 'grade'>
            <p ng-switch-when="A">Good Job!</p>
            <p ng-switch-when="B">Good</p>
            <p ng-switch-when="C">So so....</p>
            <p ng-switch-when="D">Well....</p>
            <p ng-switch-default>Nothing to say .....</p>
        </div>
    </div>
</div>